<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link href="~/Template/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5">
        @RenderBody()
    </div>
</body>
</html>
